<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h1>rrrrr</h1>
    <form id="yes-fill" action="/form" method="POST"  />
  
        <input type="text" name="street" autocomplete="off" placeholder="street"/>
        <input type="text" name="city" autocomplete="off" placeholder="city"/>
        <input type="text" name="postal town" autocomplete="off" placeholder="postal"/>
        <input type="text" name="phone" autocomplete="off" placeholder="phone"/>
        <input type="text" name="postcode" autocomplete="off" placeholder="postcode"/>
        <input type="text" name="country" autocomplete="off" placeholder="country"/>

        <input type="submit" name="" value="submit">
    </form>
    <a href='graphql'> graphql</a>
  <script src="js/scripts.js"></script>
</body>
</html>